@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.header {
    background-color: #1f2937;
    padding: 20px 200px 100px 200px;
    display: flex;
    flex-direction: column;
    gap: 100px;
}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.header-links {
    font-size: 18px;
    display: flex;
    gap: 20px;
}

.header-introduction {
    display: flex;
    gap: 50px;
    align-items: center;
}

.header-text {
    flex: 1;
}

.header-title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 1000;
}

.header-content {
    font-size: 18px;
    color: #e5e7eb;
}

.header-sign-up {
    background-color: #3882f6;
    padding: 8px 24px;
    font-size: 18px;
    font-weight: 700;
    color: #f9faf8;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.header-img {
    width: 500px;
    height: 250px;
    background-color: grey;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.information {
    display: flex;
    flex-direction: column;
    padding: 50px 275px 100px 275px;
    gap: 50px;
}

.information-title {
    font-size: 36px;
    color: #1f2937;
    font-weight: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.information-card-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.information-img {
    width: 175px;
    height: 175px;
    border: 3px solid blue;
    border-radius: 20px;
    flex-basis: auto;
}

.information-content {
    font-size: 18px;
    color: #1f2937;
    text-align: center;
}

.information-card {
    display: flex;
    flex-direction: column;
    width: 175px;
    gap: 10px;
}